{% extends "base/admin.html" %}

{% block title %}系统配置{% endblock %}

{% block content %}
        {% set config = g.api.get_sys_config().data %}
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系统配置 <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                                <form role="form">
                                    <div class="form-group">
                                        <label>about_awi</label><input type="text" placeholder="一句话介绍本站" class="form-control" value="{{ config.about_awi }}">
                                    </div>
                                    <div class="form-group">
                                        <label>about_ww</label><input type="text" placeholder="站长的话" class="form-control" value="{{ config.about_ww }}">
                                    </div>
                                    <div class="form-group">
                                        <label>about_address</label><input type="text" placeholder="地址" class="form-control" value="{{ config.about_address }}">
                                    </div>
                                    <div class="form-group">
                                        <label>about_phone</label><input type="text" placeholder="手机号" class="form-control" value="{{ config.about_phone }}">
                                    </div>
                                    <div class="form-group">
                                        <label>about_email</label><input type="email" placeholder="邮件" class="form-control" value="{{ config.about_email }}">
                                    </div>
                                    <div class="form-group">
                                        <label>about_beian</label><input type="text" placeholder="备案号" class="form-control" value="{{ config.about_beian }}">
                                    </div>
                                    <div class="form-group">
                                        <label>seo_keywords</label><input type="text" placeholder="SEO关键字" class="form-control" value="{{ config.seo_keywords }}">
                                    </div>
                                    <div class="form-group">
                                        <label>seo_description</label><input type="email" placeholder="SEO描述" class="form-control" value="{{ config.seo_description }}">
                                    </div>
                                    <div class="form-group">
                                        <label>site_title</label><input type="text" placeholder="站点标题后缀" class="form-control" value="{{ config.site_title }}">
                                    </div>
                                    <div class="form-group">
                                        <label>site_feedname</label><input type="text" placeholder="站点订阅源名称" class="form-control" value="{{ config.site_feedname }}">
                                    </div>
                                    <div>
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>更 新</strong></button>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
