server {
    listen 80;
    server_name _;
    charset utf-8;
    #处理静态资源:
    location ~ ^\/static\/.*$ {
        root /EauDouce/src/;
        access_log off;
    }
    location ^~ /read {
        alias /EauDouce/novel/;
        index index.html;
    }
    location / {
       proxy_pass http://127.0.0.1:10140;
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-Proto $scheme;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}