{% extends "base/front.html" %}

{% block title %}搜索结果{% endblock %}

{% block search %}{% endblock %}

{% block PathNavigation %}
			<ul class="breadcrumb">
				<li>
					<a href="{{ url_for('front.index') }}">首页</a>
				</li>
				<li class="active">
                    搜索结果
				</li>
			</ul>
{% endblock %}

{% block container %}
            {% for blog in g.api.blog_search(request.args.get("q", "")).data %}
            <blockquote>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h4 class="text-left text-success">
						<a href="{{ url_for('front.blogShow', bid=blog.id) }}" style="color: blue; font-weight: bold;">{{ blog.title }}</a>
					</h4>
					<h6>
					    {% if blog.author %}
					    <i class="icon-user icon-1x"></i><a href="{{ url_for('front.userHome', user=blog.author) }}" title="由 {{ blog.author }} 发布" style="color: #999">&nbsp;{{ blog.author }}</a>&nbsp;
					    {% endif %}

                        {% if blog.create_time %}
					    <i class="icon-calendar icon-1x"></i><scan style="color: #999">&nbsp;{{ blog.create_time }}</scan>&nbsp;
					    {% endif %}
					</h6>
				</div>
			</div>
			</blockquote>
			{% endfor %}
{% endblock %}
