{% extends "base/front.html" %}

{% block title %}首页{% endblock %}

{% block PathNavigation %}
			<ul class="breadcrumb">
				<li class="active">
					 <a href="{{ url_for('front.index') }}">首页</a>
				</li>
			</ul>
{% endblock %}

{% block container %}
            <!-- 置顶文章列表 -->
			<div class="row clearfix">
				<div class="col-md-12 column">
				    <h3><scan class="icon-fire icon-large"> 置顶文章</scan></h3>
				    <ol>
                    {% for blog in g.api.blog_get_top_data().data %}
			            <li><a href="{{ blog.id }}.html">{{ blog.title }}</a></li>
                    {% endfor %}
                    </ol>
				</div>
			</div>

            <!-- 文章列表缩略 -->
            <h3><scan class="icon-book icon-large"> 最新文章</scan></h3>
            {% for blog in g.api.blog_get_single_index(limit=request.args.get("limit", "6")).data %}
            <blockquote>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h4 class="text-left text-success">
						<a href="/blog/{{ blog.id }}.html" style="color: blue; font-weight: bold;">{{ blog.title }}</a>
					</h4>
					<p class="text-left text-info">
					</p>
					<h6>
					    {% if blog.author %}
					    <i class="icon-user icon-1x"></i><a href="" title="由 {{ blog.author }} 发布" style="color: #999">&nbsp;{{ blog.author }}</a>&nbsp;
					    {% endif %}

                        {% if blog.catalog %}
					    <i class="icon-folder-open icon-1x"></i><a href="" title="查看 {{ blog.catalog }} 分类中所有文章" style="color: #999">&nbsp;{{ blog.catalog }}</a>&nbsp;
					    {% endif %}

                        {% if blog.tag %}
					    <i class="icon-tag icon-1x"></i>
					    {% for tag in blog.tag.split() %}
					        <a href="" title="查看 {{ tag }} 标签中所有文章" style="color: #999">{{ tag }}</a>&nbsp;
					    {% endfor %}
					    {% endif %}

                        {% if blog.create_time %}
					    <i class="icon-calendar icon-1x"></i><scan style="color: #999">&nbsp;{{ blog.create_time }}</scan>&nbsp;
					    {% endif %}

					    <i class="icon-eye-open icon-1x"></i><scan style="color: #999">&nbsp;阅读N次</scan>&nbsp;
					    <i class="icon-comment-alt icon-1x"></i><a href="" title="《{{ blog.title }}》 上的评论" style="color: #999">&nbsp;评论N次</a>&nbsp;
					</h6>
				</div>
			</div>
			</blockquote>
			<p></p>
			{% endfor %}

			<!-- 分页 -->
			<center>
			<ul class="pagination pagination-lg">
				<li>
					 <a href="#">Prev</a>
				</li>
				<li>
					 <a href="#">1</a>
				</li>
				<li>
					 <a href="#">2</a>
				</li>
				<li>
					 <a href="#">3</a>
				</li>
				<li>
					 <a href="#">4</a>
				</li>
				<li>
					 <a href="#">5</a>
				</li>
				<li>
					 <a href="#">Next</a>
				</li>
			</ul>
			</center>
{% endblock %}