Flask==0.10.1
Flask-PluginKit>=0.1.10
flask-multistatic
Flask-RESTful
SpliceURL>=1.2
MySQL-python>=1.2.3
torndb>=0.3
requests
beautifulsoup4
upyun
redis
setproctitle
gunicorn
gevent
uwsgi
user_agents
rq
rq-dashboard