{% extends "base/admin_micro.html" %}

{% block title %}个人资料{% endblock %}

{% block content %}
        {% set UserData = g.api.user_get_one_profile(user).data %}
        <div class="row animated fadeInRight">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="{{ UserData.cover }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animated fadeInRight">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                        <div class="ibox-content profile-content">
                            <h4><strong>{{ UserData.cname or UserData.username }}</strong></h4>
                            <p><i class="fa fa-map-marker"></i>{{ UserData.address }}</p>
                            <h5>
                                关于我
                            </h5>
                            <p>
                                {{ UserData.motto }}
                            </p>
                            <h5>
                                个人网址
                            </h5>
                            <p>
                                {{ UserData.url }},{{ UserData.github }},{{ UserData.weibo }},{{ UserData.github }}
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-sm-4">
                                    <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>169</strong> 文章</h5>
                                </div>
                                <div class="col-sm-4">
                                    <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>28</strong> 关注</h5>
                                </div>
                                <div class="col-sm-4">
                                    <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                    <h5><strong>240</strong> 关注者</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> 发送消息</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> 赞助</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
