/* 返回顶部 */
#goTopBtn {
  position: fixed;
  line-height:36px;
  width:36px;
  bottom:35px;
  height:36px;
  cursor:pointer;
  display:none;
  background:url(/static/img/gototop.png);
}

.TransparentBar {
	width: 180px; 
	height: 260px; 
	margin:0px auto; 
	padding:30px 30px;
	background:rgba(255, 255, 255, 0.6)!important;
    filter:Alpha(opacity=60); background:#fff; 
    /*　使用IE专属滤镜实现IE背景透明*/ }

.TransparentBar p { position:relative; } /*实现IE文字不透明*/

blockquote {
    color:#888;
  background-color: #eae6f3;
  border-left: 1em solid #5236a0;
  padding: 1em 1.5em 1em 1.5em;
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  text-indent: 35px;
}
blockquote:before {
  color: #392570;
  content: "\201C";
  font-size: 5em;
  position:absolute;
  left:-15px;
  top: 40px;
  line-height: 0.1em;
}
blockquote:after {
   color: #392570;
  content: "\201D";
  font-size: 5em;
  position:absolute;
  right:15px;
  bottom: 0em;
  line-height: 0.1em;
}


/*like and reward css*/
.thumbs_content{
    width: 291px;
    margin: 0 auto;
}
.thumbs_button{
    float: left;
    width:145px;
    text-align: center;
    margin:5px auto;
    height: 45px;
    line-height: 45px;
    background-color:#444;
    color:#fbfbfb;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
    transition: all 0.3s;
    border-radius: 0 0 0 25px;
    -webkit-border-radius: 0 0 0 25px;
    -moz-border-radius: 0 0 0 25px;
    -o-border-radius: 0 0 0 25px;
}
.reward_button{
    float: left;
    width:145px;
    text-align: center;
    margin:5px auto;
    height: 45px;
    line-height: 45px;
    background-color:#cd4450;
    color:#fbfbfb;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
    border-left:1px solid #fbfbfb;
    transition: all 0.3s;
    border-radius: 0 25px 0 0;
    -webkit-border-radius: 0 25px 0 0;
    -moz-border-radius: 0 25px 0 0;
    -o-border-radius: 0 25px 0 0;
}
.thumbs_button:hover, .reward_button:hover{
    opacity:0.8;
    font-size:18px;
}
.thumbs_reward_clear{
    clear:both;
} 