/* 返回顶部 */
#goTopBtn {
  position: fixed;
  line-height:36px;
  width:36px;
  bottom:35px;
  height:36px;
  cursor:pointer;
  display:none;
  background:url(/static/img/gototop.png);
}

.TransparentBar {
	width: 180px; 
	height: 260px; 
	margin:0px auto; 
	padding:30px 30px;
	background:rgba(255, 255, 255, 0.6)!important;
    filter:Alpha(opacity=60); background:#fff; 
    /*　使用IE专属滤镜实现IE背景透明*/ }

.TransparentBar p { position:relative; } /*实现IE文字不透明*/
/*
blockquote {
  color:#888;
  background-color: #eae6f3;
  border-left: 1em solid #5236a0;
  padding: 1em 1.5em 1em 1.5em;
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  text-indent: 35px;
}
blockquote:before {
  color: #392570;
  content: "\201C";
  font-size: 5em;
  position:absolute;
  left:-15px;
  top: 40px;
  line-height: 0.1em;
}
blockquote:after {
  color: #392570;
  content: "\201D";
  font-size: 5em;
  position:absolute;
  right:15px;
  bottom: 0em;
  line-height: 0.1em;
}
*/
/*like and reward css*/
.thumbs_content{
    width: 291px;
    margin: 0 auto;
}
.thumbs_button{
    float: left;
    width:145px;
    text-align: center;
    margin:5px auto;
    height: 45px;
    line-height: 45px;
    background-color:#444;
    color:#fbfbfb;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
    transition: all 0.3s;
    border-radius: 0 0 0 25px;
    -webkit-border-radius: 0 0 0 25px;
    -moz-border-radius: 0 0 0 25px;
    -o-border-radius: 0 0 0 25px;
}
.reward_button{
    float: left;
    width:145px;
    text-align: center;
    margin:5px auto;
    height: 45px;
    line-height: 45px;
    background-color:#cd4450;
    color:#fbfbfb;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
    border-left:1px solid #fbfbfb;
    transition: all 0.3s;
    border-radius: 0 25px 0 0;
    -webkit-border-radius: 0 25px 0 0;
    -moz-border-radius: 0 25px 0 0;
    -o-border-radius: 0 25px 0 0;
}
.thumbs_button:hover, .reward_button:hover{
    opacity:0.8;
    font-size:18px;
}
.thumbs_reward_clear{
    clear:both;
}

/* 带边框透明按钮 */
.btn-outline {
    color: inherit;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #58666e !important;
}

.btn-success.btn-outline {
    color: #58666e !important;
}

.btn-info.btn-outline {
    color: #58666e !important;
}

.btn-warning.btn-outline {
    color: #58666e !important;
}

.btn-danger.btn-outline {
    color: #58666e !important;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* tagscloud */
#tagscloud{width:350px;height:260px;position:relative;font-size:12px;color:#333;margin:0px auto 0;text-align:left;}
#tagscloud a{position:absolute;top:0px;left:0px;color:#333;font-family:Arial;text-decoration:none;margin:0 10px 15px 0;line-height:18px;text-align:center;font-size:12px;padding:1px 5px;display:inline-block;border-radius:3px;}
#tagscloud a.tagc1{background:#666;color:#fff;}
#tagscloud a.tagc2{background:#F16E50;color:#fff;}
#tagscloud a.tagc3{background:#00BB00;color:#fff;}
#tagscloud a.tagc4{background:#8600FF;color:#fff;}
#tagscloud a.tagc5{background:#006633;color:#fff;}
#tagscloud a:hover{color:#fff;background:#0099ff;}
