<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>影视名</title>
  <link rel="stylesheet" href="../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../res/css/global.css">
  <link href="../../res/css/animate.min.css" rel="stylesheet">
  <!-- video css -->
  <link href="../../res/others/video-js.css" rel="stylesheet">
</head>
<body>
<div class="layui-container">
  <div class="layui-row">
    <div class="layui-col-md12">
        <div class="myvideo">
            <div class="m">
                <video style="height:90%;width:100%" class="video-js vjs-big-play-centered"  controls preload="auto"  autoplay="autoplay"
                    poster="" data-setup="{}" >
                    <source id="movidesource" src="http://vfx.mtime.cn/Video/2017/03/28/mp4/170328102043699672.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
  </div>
</div>
<script src="../../res/layui/layui.js"></script>
<!-- video -->
<script src="../../res/others/video.min.js"></script> 
<script src="http://vjs.zencdn.net/5.19/lang/zh-CN.js"></script>
<script>

layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/' 
}).extend({
  fly: 'index',
 
}).use('fly');
</script>

</body>
</html>