<!DOCTYPE html>
<html>
  
  <head>
    {% set blogs = g.api.blog_get_all().data %}
    {% set catalogs = g.api.blog_get_catalog_list().data %}
    <title>站点地图 | {{ g.config.site_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ g.config.seo_keywords }}">
    <meta name="description" content="{{ g.config.seo_description }}">
    <link rel="canonical" href="{{ '{}{}'.format(request.url_root.strip('/'), url_for('front.sitemaphtml')) }}" />
    <meta name="copyright" content="EauDouce" />
    <style type="text/css">body {font-family: Verdana;FONT-SIZE: 12px;MARGIN: 0;color: #000000;background: #ffffff;} img {border:0;} li {margin-top: 8px;} .page {padding: 4px; border-top: 1px #EEEEEE solid} .author {background-color:#EEEEFF; padding: 6px; border-top: 1px #ddddee solid} #nav, #content, #footer {padding: 8px; border: 1px solid #EEEEEE; clear: both; width: 95%; margin: auto; margin-top: 10px;}
    </style>
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
  </head>
  
  <body vlink="#333333" link="#333333">
    <h2 style="text-align: center; margin-top: 20px">{{ g.config.site_title }}</h2>
    <center></center>
    <div id="nav">
      <a href="{{ url_for('front.index') }}"><strong>站点首页</strong></a>&raquo;
      <a href="{{ url_for('front.sitemaphtml') }}">站点地图</a>
    </div>
    <div id="content">
      <h3>所有文章</h3>
      <ul>
        {% for blog in blogs %}
        <li><a href="{{ url_for('front.blogShow', bid=blog.id) }}" title="{{ blog.title }}" target="_blank">{{ blog.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="content">
      <li class="categories">分类目录
        <ul>
          {% for catalog in catalogs %}
          <li class="cat-item cat-item-2"><a href="{{ url_for('front.blogResource', resource_type='catalog', resource_data=catalog) }}">{{ catalog }}</a></li>
          {% endfor %}
          <!--
          <li class="cat-item cat-item-15"><a href="">子分类</a>
            <ul class='children'>
              <li class="cat-item cat-item-16">
                <a href="">子分类1</a></li>
              <li class="cat-item cat-item-18">
                <a href="">子分类2</a></li>
            </ul>
          </li>
          -->
        </ul>
      </li>
    </div>
    <div id="content">
      <li class="categories">独立页面</li>
      <div class="menu">
        <ul>
          <li class="page_item page-item-3259"><a href="{{ url_for('front.feed') }}">订阅源</a></li>
          <li class="page_item page-item-5222"><a href="{{ url_for('front.sitemapxml') }}">站点地图XML版</a></li>
          <li class="page_item page-item-5223 current_page_item"><a href="{{ url_for('front.sitemaphtml') }}">站点地图HTML版</a></li>
        </ul>
      </div>
    </div>
    <div id="footer">查看博客首页:
      <strong><a href="{{ url_for('front.index') }}">{{ g.config.site_title }}</a></strong>
    </div>
    <br />
    <center>
      <div style="text-algin: center; font-size: 11px">
        <strong>{{ g.config.about_awi }}</strong>
        <br />
        <br />
      </div>
    </center>
  </body>

</html>
